//Tipografía
$primary-font: "Roboto", sans-serif;
$link-font: "Poppins", sans-serif;
$title-font: "Merriweather", sans-serif;

/*h1. logo - Merriweather*/
/*nav, descripcion, botones - Roboto*/
/*link "Learn More" - Poppins*/
/*iconos - Roboto*/

//Sizes container
$max-width-container: 1920px;

//Colores
$fondo_general: black;
$logo_izquierda: #db2a6b;
$logo_derecha: white;
$menu: #808080;
$menu_barra: #db2a6b;
$menu_hover: white;
$title: white;
$description: rgba(255, 255, 255, 0.5); //#464751;
$boton: #db2a6b;
$boton_hover: #464751;
$fondo_foto1: #6e1fed;
$fondo_foto2: #60d3d9;
$fondo_foto3: #f4b840;
$fondo_foto4: #db2a6b;
$fondo_foto5: #ff7e29;
$info_iconos: rgba(255, 255, 255, 0.25);
$info_iconos-hover: rgba(255, 255, 255, 0.5);
