@use "../abstracts/mixins";
@use "../abstracts/variables";

.fotos {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 240px 240px 240px;
  align-items: center;
  gap: 32px;
  div,
  img {
    border-radius: 90px;
  }
}

.fotos__1 {
  background-color: variables.$fondo_foto1;
  width: 240px;
  height: 509px;
  grid-row: 1 / span 2;
}

.fotos__2 {
  background-color: variables.$fondo_foto2;
  width: 240px;
  height: 240px;
  grid-row: 1 / span 1;
}

.fotos__3 {
  background-color: variables.$fondo_foto3;
  width: 240px;
  height: 509px;
  grid-row: 1 / span 3;
}

.fotos__4 {
  background-color: variables.$fondo_foto4;
  width: 240px;
  height: 240px;
  grid-row: 3 / span 1;
}

.fotos__5 {
  background-color: variables.$fondo_foto5;
  width: 240px;
  height: 509px;
  grid-row: 2 / span 2;
}
